<%= link_to "Back to Pictures", pictures_url %> | <%= link_to "Edit", edit_picture_path(@picture) %>

<div class="showpic">
<p><%= @picture.title %>, <%= @picture.artist %></p>
<%= image_tag @picture.url %>
</div>